{% load static %}

{% load bootstrap5 %}

<div
    class="modal fade"
    id="helpAddLessonModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMemberModalLabel">
                    [도움말] 수업 일정 생성
                </h5>

                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>

            <div class="modal-body">
                <h4>1. 날짜, 시간 선택</h4>
                <img
                    src="{% static 'common_app/add_lesson_01.png' %}"
                    style="width: 100%;"
                >

                <br><br>
                <h4>2. 일정 생성</h4>
                <img
                    src="{% static 'common_app/add_lesson_02.png' %}"
                    style="width: 100%;"
                >
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>

        </div>
    </div>
</div>