{% extends 'lessons/base.html' %}

{% block main_area %}

{% if user.is_authenticated %}
<div class="text-end">
    <h1 class="display-6 fw-bold">요청 및 질문 리스트</h1>
    <!-- Modal Btn -->
    <a class="btn btn-success btn-sm float-right" role="button"  data-bs-toggle="modal" data-bs-target="#createQnAModal">
        <i class="fas fa-comment-dots">&nbsp;&nbsp;작성</i>
    </a>
</div>


<!-- Create Modal -->
<div class="modal fade" id="createQnAModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createQnAModalLabel">게시글 작성</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="create/" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-auto">
                            <label for="title" class="form-label">제목</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control" name="title" id="title">
                        </div>
                    </div>
                    <br>
                    <div class="mb-3">
                        <label for="content" class="col-form-label">내용 입력</label>
                        <textarea class="form-control" name="content" id="content" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="submit" class="btn btn-success float-right">저장</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">작성일시</th>
                <th scope="col">작성자</th>
                <th scope="col">제목</th>
            </tr>
        </thead>
        <tbody>
            {% for post in post_objects %}
             <tr onClick="location.href='/qna/{{ post.id }}'">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ post.created_at | date:"Y-m-d H:i" }}</td>
                <td>{{ post.created_by }}</td>
                <td>{{ post.title }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}

<div class="text-end">
    <h1 class="display-6 fw-bold">QnA 정보는 관계자만 볼 수 있습니다</h1>
</div>

{% endif %}

{% endblock %}