{% extends 'lessons/base.html' %}

{% block main_area %}
<h1>회원 관리</h1>
<a class="btn btn-info btn-sm float-right" href="/member/create_member/" role="button">
    <i class="fas fa-pen">&nbsp;&nbsp;신규 회원</i>
</a>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">이름</th>
                <th scope="col">성별</th>
                <th scope="col">생일</th>
                <th scope="col">핸드폰 번호</th>
            </tr>
        </thead>
        <tbody>
            {% for member in member_objects %}
             <tr onClick="location.href='/member/{{ member.id }}'">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ member.name }}</td>
                <td>{{ member.gender }}</td>
                <td>{{ member.date_of_birth }}</td>
                <td>{{ member.phone_number }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}