{% extends 'common_app/base.html' %}

{% block main_area %}

{% if user.is_authenticated %}

<div class="row">
    <div class="col-lg-3 hidden-mobile">
        <div class="card">
            <div class="card-header">
                요약
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>총 {{ member_objects.count }} 명의 회원</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="text-start">
            <h1 class="display-6 fw-bold">라일비 회원 목록</h1>
        </div>
        <hr class="style1">
        <div class="text-end">
            <a
                class="btn btn-success btn-sm float-right"
                role="button"
                data-bs-toggle="modal"
                data-bs-target="#addMemberModal"
            >
                <i class="fas fa-user-plus">&nbsp;&nbsp;신규 회원 등록</i>
            </a>
        </div>

        {% if errors %}
            {{ errors }}
        {% endif %}

        <div>
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">이름</th>
                        <th scope="col">회원권</th>
                        <th scope="col">성별</th>
                        <th class="hidden-mobile" scope="col">생년월일</th>
                        <th class="hidden-mobile" scope="col">핸드폰 번호</th>
                        <th class="hidden-mobile" scope="col">담당 강사</th>
                        <th scope="col">기본 일정</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in member_objects %}
                     <tr onClick="location.href='/member/{{ member.id }}'">
                        <td>{{ member.name }}</td>
                        <td>{{ member.get_status_display }}</td>
                        <td>{{ member.get_gender_display }}</td>
                        <td class="hidden-mobile">{{ member.date_of_birth | date:"Y년 m월 d일"  }}</td>
                        <td class="hidden-mobile">{{ member.phone_number }}
                        <td class="hidden-mobile">{{ member.teacher_id }}</td>
                        {% if member.defaultschedule_set.count == 0 %}
                            <td>강사 협의</td>
                        {% else %}
                            <td>주 {{ member.defaultschedule_set.count }} 회</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% include 'members/modal_member.html' %}

<script>

</script>

{% else %}

<div class="text-end">
    <h1 class="display-6 fw-bold">회원 상세 정보는 관계자만 볼 수 있습니다</h1>
</div>

{% endif %}

{% endblock %}