{% extends 'lessons/base.html' %}

{% block main_area %}

{% load bootstrap5 %}

{% load crispy_forms_tags %}

<script>

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {

            selectable: true,

            timeZone: 'Asia/Seoul',
            locale: 'ko',
            firstDay: 1,
            allDaySlot: false,
            slotMinTime: "06:00:00",
            contentHeight:"auto",
            hiddenDays: [ 0 ],

            slotLabelFormat: {
                hour: '2-digit',
                omitZeroMinute: false,
                hour12: false,
                meridiem: 'short',
            },

            headerToolbar: {
                start: 'dayGridMonth,timeGridWeek,timeGridDay',
                center: 'title',
                end: 'today prev,next'
            },

            events: [
                {% for i in events %}
                {
                    id: 'a',
                    title: '{{ i.title }}',
                    url: '/lesson/{{ i.lesson_id }}/',
                    start: '{{ i.start }}',
                    end: '{{ i.end }}',
                    color: '{{ i.color }}'
                },
                {% endfor %}
            ],
            eventTimeFormat: {
                hour: "2-digit",
                minute: "2-digit",
                meridiem: false,
                hour12: false
            },

            initialView: 'timeGridWeek',

            dateClick: function(info) {
                document.getElementById("id_lesson_time").value = ""

                const dtArray = info.dateStr.split("T");
                document.getElementById("datePicker").value = dtArray[0];
                document.getElementById("id_lesson_date").value = dtArray[0];

                if (typeof dtArray[1] !== 'undefined') {
                    document.getElementById("id_lesson_time").value = dtArray[1];
<!--                    alert(dtArray[1]);-->
                }

                document.getElementById("createButton").click();

            }
        });
        calendar.render();
    });

</script>

<!--    Modal 화면    -->
{% if lesson_form.errors or attendance_formset.errors or error %}
<script>
    $(window).on('load', function() {
        $('#createLessonModal').modal('show');
    });
</script>
{% endif %}

<!--    로그인 알람  -->
<div class="modal fade" id="loginAlertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginAlertModalLabel">경고</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-block alert-danger">
                    <ul class="m-0">
                        <li>수업 일정 생성 권한이 없습니다. 로그인 후 다시 시도해 주십시오.</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<div
    class="modal fade"
    id="createLessonModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createLessonModalLabel">수업 일정 등록</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        [주별] 일정 자동 등록
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <form action="lesson/create_lesson/auto" method="post">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" name="schedule_date" id="datePicker" class="form-control" autocomplete="off" placeholder="날짜 선택" required>
                                    <button type="submit" class="btn btn-success"><i class="fas fa-calendar-plus">&nbsp;&nbsp;일정 등록</i></button>
                                </div>
                            </form>
                            <script>
                                $('#datePicker').datepicker({
                                    format: "yyyy-mm-dd",
                                    language: "ko",
                                    autoclose: true,
                                    clearBtn : true,
                                    weekStart : 1
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-header">
                        [일별] 일정 수동 등록
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {{ lesson_form.media }}
                            <form action="lesson/create_lesson/" method="post">
                                {% csrf_token %}
                                {% if error %}
                                    <script>
                                        document.getElementById("createButton").click();
                                        $(#createLessonModal).modal("show");
                                    </script>
                                    <div class="alert alert-block alert-danger">
                                        <ul class="m-0">
                                            <li>{{ error }}</li>
                                        </ul>
                                    </div>
                                {% endif %}

                                {% bootstrap_form lesson_form layout="horizontal" %}

                                <hr class="style1">
                                <h6>수강 회원 설정</h6>
                                <br>
                                <div class="row">
                                    {{ attendance_formset.management_form }}
                                    {% for form in attendance_formset %}
                                        <div class="col">
                                        {% bootstrap_form form layout="horizontal" %}
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="text-end">
                                    <button type="submit" class="btn btn-success float-right"><i class="fas fa-calendar-plus">&nbsp;&nbsp;일정 등록</i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>



<!--    실제 화면   -->
<div class="text-end d-none">

    <!-- Button trigger modal -->
    <a
        class="btn btn-danger btn-sm float-right"
        role="button"
        data-bs-toggle="modal"
        data-bs-target=
            {% if user.is_authenticated %}
                "#createLessonModal"
            {% else %}
                "#loginAlertModal"
            {% endif %}
        id="createButton"
    >
        <i class="fas fa-calendar-times">&nbsp;&nbsp;일정 등록 테스트</i>
    </a>

    <a class="btn btn-sm btn-success float-right" href="/lesson/create_lesson/" role="button">
        <i class="fas fa-calendar-plus">&nbsp;&nbsp;일정 등록</i>
    </a>

</div>
<div class="py-1"></div>
<div id='calendar'></div>


{% endblock %}
