{% extends 'lessons/base.html' %}

{% block main_area %}

        <script>

            document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {

                  timeZone: 'Asia/Seoul',
                  events: [
                    {% for i in events %}
                    {
                      id: 'a',
                      title: '{{ i.title }}',
                      url: 'http://127.0.0.1:8000/admin/',
                      start: '{{ i.start }}',
                      end: '{{ i.end }}'
                    },
                    {% endfor %}
                  ],

                  initialView: 'dayGridMonth'
                });
                calendar.render();
            });

        </script>


        <div>
        {% for lesson in lesson_objects %}
            {{ forloop.counter }}
            {{ lesson }}
        {% endfor %}

        {% for event in events %}
            {{ event }}
        {% endfor %}

        </div>

        <div id='calendar'></div>

{% endblock %}
