{% extends 'common_app/base.html' %}

{% load bootstrap5 %}

{% block main_area %}

{% if user.is_authenticated %}
<div class="row">
    <!-- 수업 정보 -->
    <div class="col-lg-3">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-2">
                수업 정보
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>강사</th>
                            <td>{{ lesson_object.teacher_id.name }}</td>
                        </tr>
                        <tr>
                            <th>수업일</th>
                            <td>{{ lesson_object.lesson_date | date:"Y.m.d ( D )" }} </td>
                        </tr>
                        <tr>
                            <th>수업시간</th>
                            <td>{{ lesson_object.lesson_time }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col text-start">
                        <a class="btn btn-success btn-sm float-right" role="button"  data-bs-toggle="modal" data-bs-target="#editLessonModal">
                            <i class="fas fa-calendar-check">&nbsp;&nbsp;정보 수정</i>
                        </a>
                    </div>
                    <div class="col text-end">
                        <!-- Button trigger modal -->
                        <a class="btn btn-danger btn-sm float-right" role="button" data-bs-toggle="modal" data-bs-target="#deleteMemberModal">
                            <i class="fas fa-calendar-times">&nbsp;&nbsp;일정 삭제</i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- 수강 정보 -->
    <div class="col-lg-9">
        <div class="row">
            <div class="col-5 text-start">
                <h1 class="display-6 fw-bold">수강 회원</h1>
                <p style="margin-left: 1rem; margin-bottom:0rem">
                    - {{ lesson_object.get_lesson_type_display }} 수업 -
                </p>

            </div>
            <div class="col-7 text-end">
                <a
                    class="btn btn-warning"
                    role="button"
                    href="/lesson"
                >
                    <i class="fas fa-backward">&nbsp;&nbsp;목록</i>
                </a>
            </div>
        </div>

        <hr class="style1" style="margin-top:0rem;">

        <div class="row">
            {% for attendance in attendance_objects %}
                <!-- Attemdance Moal -->
                {% include 'lessons/modal_attendance_status.html' %}
            <div class="col-lg">
                <div class="card mb-4 rounded-3">
                    <div class="card-header py-2">
                        <div class="row">

                            <div class="col-6 text-start">
                                <span class="badge bg-light">
                                    <h5 class="my-0 fw-normal" style="color:black;">
                                        {{ attendance.member_id.name }}
                                    </h5>
                                </span>
                            </div>

                            <div class="col-6 text-end">
                                <a class="btn btn-dark btn-sm" href="/member/{{ attendance.member_id.id }}" role="button">
                                    <i class="fas fa-search">&nbsp;&nbsp;회원 상세보기</i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card-body text-center">
                        <a
                            class="btn btn-sm
                                {% if attendance.status == 0 %}
                                    bg-success
                                {% elif attendance.status == 1 %}
                                    bg-primary
                                {% elif attendance.status == 2 %}
                                    bg-warning
                                {% elif attendance.status == 3 %}
                                    bg-danger
                                {% elif attendance.status == 4 %}
                                    bg-info
                                {% endif %}
                            "
                            role="button"
                            data-bs-toggle="modal"
                            data-bs-target="#updateAttendanceStatusModal{{ attendance.member_id.id }}"
                            style="color:white;"
                        >
                            상태: {{ attendance.get_status_display }}&nbsp;&nbsp;
                            <i class="fas fa-check-double">&nbsp;&nbsp;출결 변경 버튼</i>
                        </a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% else %}

<div class="text-end">
    <h1 class="display-6 fw-bold">수업 상세 정보는 관계자만 볼 수 있습니다</h1>
</div>

{% endif %}

<!-- Edit Modal -->
<div class="modal fade" id="editLessonModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eidtLessonModalLabel">수업 정보 수정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {{ form.media }}
            <form method="post">
                {% csrf_token %}
                <div class="modal-body">
                    {% bootstrap_form form layout="horizontal" %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="submit" class="btn btn-success float-right">적용</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteMemberModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">경고</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                수업 일정 삭제시 회원 출석 정보도 함께 삭제 됩니다.
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            <a class="btn btn-danger float-right" href="/lesson/{{ lesson_object.id }}/delete" role="button">
                삭제
            </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}