{% extends 'common_app/base.html' %}

{% load bootstrap5 %}

{% block main_area %}

{% if user.is_authenticated %}
<div class="row">
    <!-- 수업 정보 -->
    <div class="col-lg-3">
        {% include 'common_app/base_left_top.html' %}
    </div>

    <!-- 수강 정보 -->
    <div class="col-lg-9">
        <div class="row">
            <div class="col-5 text-start">
                <h3>수업 상세 정보</h3>
            </div>
            <div class="col-7 text-end">
                <a
                    class="btn btn-warning"
                    role="button"
                    href="/lesson"
                >
                    <i class="fas fa-backward">&nbsp;&nbsp;수업 목록</i>
                </a>
            </div>
        </div>

        <hr class="style1">

        <div class="card" style="margin-bottom: 20px;">
            <div class="card-header text-start">
                <a class="btn btn-success btn-sm float-right" role="button"  data-bs-toggle="modal" data-bs-target="#editLessonModal">
                    <i class="fas fa-calendar-check">&nbsp;&nbsp;정보 수정</i>
                </a>
                <!-- Button trigger modal -->
                <a class="btn btn-danger btn-sm float-right" role="button" data-bs-toggle="modal" data-bs-target="#deleteMemberModal">
                    <i class="fas fa-calendar-times">&nbsp;&nbsp;일정 삭제</i>
                </a>
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>강사</th>
                            <td>{{ lesson_object.teacher_id.name }}</td>
                            <th>수업 형태</th>
                            <td>{{ lesson_object.get_lesson_type_display }}</td>
                        </tr>
                        <tr>
                            <th>수업일</th>
                            <td>{{ lesson_object.lesson_date | date:"Y.m.d ( D )" }} </td>
                            <th>수업시간</th>
                            <td>{{ lesson_object.lesson_time }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                회원 출석 정보
            </div>
            <div class="card-body">

                <table class="table text-center align-middle">
                    <thead>
                        <tr>
                            <th>이름</th>
                            <th>상태</th>
                            <th>상태 변경</th>
                            <th>회원 정보</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for attendance in attendance_objects %}
                            <!-- Attemdance Moal -->
                            {% include 'lessons/modal_attendance_status.html' %}
                            <tr>
                                <td>{{ attendance.member_id.name }}</td>
                                <td>
                                    <span class="badge rounded-pill
                                        {% if attendance.status == 0 %}
                                            bg-success
                                        {% elif attendance.status == 1 %}
                                            bg-primary
                                        {% elif attendance.status == 2 %}
                                            bg-warning
                                        {% elif attendance.status == 3 %}
                                            bg-danger
                                        {% elif attendance.status == 4 %}
                                            bg-info
                                        {% endif %}
                                    "
                                          style="font-size: 18px;"
                                    >
                                        {{ attendance.get_status_display }}
                                    </span>
                                </td>
                                <td>
                                    <a
                                        class="btn btn-sm bg-secondary"
                                        role="button"
                                        data-bs-toggle="modal"
                                        data-bs-target="#updateAttendanceStatusModal{{ attendance.member_id.id }}"
                                        style="color:white;"
                                    >
                                        <i class="bi-calendar-check"> 변경</i>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-dark btn-sm" href="/member/{{ attendance.member_id.id }}" role="button">
                                        <i class="fas fa-search">&nbsp;&nbsp;상세보기</i>
                                    </a>
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>

{% else %}

<div class="text-end">
    <h1 class="display-6 fw-bold">수업 상세 정보는 관계자만 볼 수 있습니다</h1>
</div>

{% endif %}

<!-- Edit Modal -->
<div class="modal fade" id="editLessonModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eidtLessonModalLabel">수업 정보 수정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {{ form.media }}
            <form method="post">
                {% csrf_token %}
                <div class="modal-body">
                    {% bootstrap_form form layout="horizontal" %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="submit" class="btn btn-success float-right">적용</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteMemberModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">경고</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                수업 일정 삭제시 회원 출석 정보도 함께 삭제 됩니다.
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            <a class="btn btn-danger float-right" href="/lesson/{{ lesson_object.id }}/delete" role="button">
                삭제
            </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}