{% extends 'common_app/base.html' %}

{% block main_area %}

{% if user.is_authenticated %}

<div class="row">
    <div class="col-lg-3 hidden-mobile">
        {% include 'common_app/base_left_top.html' %}
    </div>

    <div class="col-lg-9">
        <div class="text-start">
            <h1 class="display-6 fw-bold">라일비 수업 목록</h1>
        </div>
        <hr class="style1">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center" scope="col">수업일</th>
                    <th class="text-center" scope="col">수업시간</th>
                    <th class="text-center hidden-mobile" scope="col">담당강사</th>
                    <th class="text-center">수강 인원</th>
                </tr>
            </thead>
            <tbody>
                {% for lesson in lesson_objects %}
                 <tr onClick="location.href='/lesson/{{ lesson.id }}'">
                    <td class="text-center">{{ lesson.lesson_date | date:"Y.m.d (D)" }}</td>
                    <td class="text-center">{{ lesson.lesson_time }}</td>
                    <td class="text-center hidden-mobile">{{ lesson.teacher_id.name }}</td>
                    <td class="text-center">{{ lesson.attendance_set.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% else %}

<div class="text-end">
    <h1 class="display-6 fw-bold">수업 상세 정보는 관계자만 볼 수 있습니다</h1>
</div>

{% endif %}

{% endblock %}